div.tooltip {
      position: absolute;
      text-align: center;
      width: 100px;
      height: 75px;
      padding: 2px;
      font: 10px sans-serif;
      background: #fff;
      border: 0px;
      pointer-events: none;
  }

  body{
    background-color: rgb(200, 182, 244);
  }

h1, h2{
  color: white;
  border: solid black 5px;
  border-radius: 8px;
  background: blue;
}

#legend{
  background-color: rgb(199, 208, 221);
  position:fixed;
  left:1000px;
}

#b1{
  position: fixed;
  top: 430px;
  right: 375px;
}

#b2{
  position: fixed;
  top: 460px;
  right: 389px;
}

#b3{
  position: absolute;
  top: 490px;
  right: 493px;
}
div{

}
